@font-face {
    font-family: "merriweather";
    src: url(../fonts/Merriweather-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "lato-bold";
    src: url(../fonts/Lato-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "lato";
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
}
